<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/table.css">
    <title>Document</title>
    
</head>
<body>
    
    <%- include('navbar.ejs') %>
    <div class="table-container">
        <table>
            <caption>Returned Books</caption>
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>username</th>
                    <th>Returned date</th>
                </tr>
            </thead>
            <tbody>
                <% for( book of data ) { %>
                <tr>
                    <td><%= book.book_id%></td>
                    <td><%= book.title%></td>
                    <td><%= book.author%></td>
                    <td><%=book.username%></td>
                    <td><%=book.return_date%></td>
                    
                </tr>
                <% } %>
            </tbody>
        </table>
        <form method="POST" action="/books/clear?_method=DELETE">
            <button class="clear">Clear all</button>
        </form>
    </div>

</body>
</html>